<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ meta.title }}</title>
   
    <meta name="description" content="Website">
    <meta name="robots" content="website">
    
    {% if current_page %}
        <link rel="canonical" href="{{ current_page.url }}">
    {% endif %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Solway:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ theme_url }}/css/politico.css" type="text/css">
    <link rel="stylesheet" href="{{ theme_url }}/css/droidsans.css" type="text/css">
    <link rel="stylesheet" href="{{ theme_url }}/css/fontello.css" type="text/css">
</head>
<body{% if config.theme_config.widescreen %} class="widescreen"{% endif %}>        
    <div id="main" role="main">
        <div class="container">
        <a href="..">More News and Politics</a>
            <h1>{{ meta.title }}</h1>
            {{ content }}
            <h6>Published {{ meta.date_formatted }} by {{ meta.author }}</h6>
        </div>
    </div>

    This website is owned and maintained by one independent journalist in his free time. None of these stories are have any copyright. Steal all of this stuff. The purpose of this website is to create a space where critical information can live outside of paywalls.
    <script src="{{ theme_url }}/js/modernizr-3.3.1-custom.min.js"></script>
    <script src="{{ theme_url }}/js/utils.js"></script>
    <script src="{{ theme_url }}/js/pico.js"></script>
</body>
</html>
