<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"></meta>

    <title>{{ meta.title }}</title>
   
    <meta name="description" content="Website"></meta>
    <meta name="robots" content="website"></meta>
    
    {% if current_page %}
        <link rel="canonical" href="{{ current_page.url }}"></link>
    {% endif %}
<link rel="preconnect" href="https://fonts.googleapis.com"></link>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin></link>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin></link>
    <link href="https://fonts.googleapis.com/css2?family=Solway:wght@300;700&display=swap" rel="stylesheet"></link>
    <link rel="stylesheet" href="{{ theme_url }}/css/blank.css" type="text/css"></link>
    <link rel="stylesheet" href="{{ theme_url }}/css/droidsans.css" type="text/css"></link>
    <link rel="stylesheet" href="{{ theme_url }}/css/fontello.css" type="text/css"></link>
    <meta name="twitter:card" content="summary"></meta>
    <meta name="twitter:site" content="@revolt3d"></meta>
    <meta name="twitter:title" content="{{ meta.title }}"></meta>
    <meta name="twitter:description" content="{{ meta.description }}"></meta>
    <meta name="twitter:image" content="{{ meta.image }}"></meta>
</head>
<body{% if config.theme_config.widescreen %} class="widescreen"{% endif %}>        
    <div id="main" role="main">
        <div class="container">
{{ content }}
<ul>
{% for page in pages("news")|sort_by("time")|reverse if not page.hidden %}
    <li>
        
        <a href="{{ page.url }}">{{ page.title }}</a> <span class="date">{{ page.date_formatted }}</span>
    </li>
{% endfor %}
    </ul>
    </div>
    This website is owned and maintained by one independent journalist in his free time. None of these stories are have any copyright. Steal all of this stuff. The purpose of this website is to create a space where critical information can live outside of paywalls.
</div>
    <script src="{{ theme_url }}/js/modernizr-3.3.1-custom.min.js"></script>
    <script src="{{ theme_url }}/js/utils.js"></script>
    <script src="{{ theme_url }}/js/pico.js"></script>
</body>
</html>
