{{ include('header.html') }}
{{ content }}
<ul>
{% for page in pages("news")|sort_by("time")|reverse if not page.hidden %}
    <li>
        
        <a href="{{ page.url }}">{{ page.title }}</a> <span class="date">{{ page.date_formatted }}</span>
    </li>
{% endfor %}
</ul>
{{ include('footer.html') }}