{{ include('header.html') }}
<a href="..">More News and Politics</a>
<h1>{{ meta.title }}</h1>
{{ content }}
<h6>Published {{ meta.date_formatted }} by {{ meta.author }}</h6>
{{ include('footer.html') }}