<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>{{ meta.title }}</title>
    <meta name="description" content="Website">
    <meta name="robots" content="website">
    
    {% if current_page %}
        <link rel="canonical" href="{{ current_page.url }}">
    {% endif %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Solway:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ theme_url }}/css/photo.css" type="text/css">
    <link rel="stylesheet" href="{{ theme_url }}/css/droidsans.css" type="text/css">
    <link rel="stylesheet" href="{{ theme_url }}/css/fontello.css" type="text/css">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@revolt3d">
    <meta name="twitter:title" content="{{ meta.title }}">
    <meta name="twitter:description" content="{{ meta.description }}">
    <meta name="twitter:image:src" content="https://1200tech.com/assets/{{ meta.image }}">
</head>
<body{% if config.theme_config.widescreen %} class="widescreen"{% endif %}>
<div id="header">
<div id="title">
<h1><a href="/photos">Gen-X Dad Photos</a></h1>
Twitter <a href="https://twitter.com/revolt3d">@REvolt3D</a>
</div>
</div>       
<div id="nav">
<ul>
<li><a href="/photos">Contact Sheet</a></li>
<li><a href="/photos/photographer">Photographer</a></li>
</ul>
</div> 
    <div id="main" role="main">
        <div class="container">
            {{ content }}
        </div>
    </div>
    {% if meta.BuyIt == 1 %}
    <div id="footer">
        <div class="container">
        <p>
            <form action="/photos/buy"><button type="submit">Buy This Photo</button></form>
            Twitter: <a href="https://twitter.com/REvolt3d">@REvolt3D</a>
        </p>
        </div>
    </div>
    {% endif %}
    <script src="{{ theme_url }}/js/modernizr-3.3.1-custom.min.js"></script>
    <script src="{{ theme_url }}/js/utils.js"></script>
    <script src="{{ theme_url }}/js/pico.js"></script>

</body>
</html>
