<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
<title>{{ meta.title }}</title>
<link>{{ current_page.url }}</link>
<description></description>
<language>en-us</language>
<pubDate>{{ "now"|date('D, d M Y H:i:s T') }}</pubDate>
<lastBuildDate>{{ "now"|date('D, d M Y H:i:s T') }}</lastBuildDate>
<docs>http://blogs.law.harvard.edu/tech/rss</docs>
<generator>REvolt3D RSS Generator verzion 102</generator>
<managingEditor>editor@example.com</managingEditor>
<webMaster>webmaster@example.com</webMaster>
{{ content }}
{% for page in pages("news")|sort_by("time")|reverse if not page.hidden %}
<item>
<title>{{ page.title }}</title>
<link>{{ page.url }}</link>
<description>{{ page.description }}</description>
<pubDate>{{ page.date|date('D, d M Y H:i:s T') }}</pubDate>
<guid>{{ page.url }}</guid>
</item>
{% endfor %}
</channel>
</rss>